<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="gopigo3" />
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.075"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gopigo3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Robot URDF definition -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find gopigo3_description)/urdf/$(arg model).urdf.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file) 
                distance:=true
                pi_camera:=true
                lds:=true
                imu:=true "/>

  <!-- Spawn robot -->
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />

  <!-- Send joint values -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
  
  <!-- Combine joint values to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
